body {
  color: rgb(255, 176, 0);
  background-color: rgb(0, 42, 54);
}

input[type="text"] {
  width: 300px;

  padding: 10px;
  border: 1px solid rgb(255, 176, 0);
  border-radius: 3px;
  font-size: 16px;
  color: #ffffff;
  background-color: black;
}

button {
  padding: 10px;
  background-color: black;
  color: #8f8f8f;
  font-size: 15px;
  border: 1px solid rgb(255, 176, 0);
  border-radius: 3px;
}

#terminal {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 10px;
  font-family: Consolas, "Courier New", monospace;
  font-size: 1.1rem;
}

p {
  white-space: pre-line;
  line-height: 1.4rem;
}

#highlightedWords {
  font-weight: bold;
  color: #9400d3;
}
